<div class="container-fluid grid-container-parent todo-list-block">
    <div class="grid-container">
        <div class="input-append">
            <input name="task" type="text" placeholder="<%= _.__('acmedemouicontrol.todo_list.task_placeholder') %>">
            <button class="btn btn-primary add-task" type="button"><%= _.__('acmedemouicontrol.todo_list.add_task') %></button>
        </div>
        <ul class="unstyled tasks"></ul>
        <div class="no-data"><span><%= _.__('acmedemouicontrol.todo_list.empty_collection') %></span></div>
    </div>
</div>
