<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-time"></i></a>
    <div class="dropdown-menu open" role="menu" aria-labelledby="dLabel">
        <ul class="unstyled">
            <li class="nav-header nav-header-title">
                Navigation History
                <button class="clear btn btn-mini btn-link"
                        title="Clear history"><i class="icon icon-trash"></i></button>
            </li>
        </ul>
        <p class="empty-message">no items collected</p>
    </div>
</div>
