<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-time"></i></a>
    <div class="dropdown-menu open" role="menu" aria-labelledby="dLabel">
        <ul class="unstyled">
            <li class="nav-header nav-header-title">
                <%= _.__('acmedemouicontrol.history.title') %>
                <button class="clear btn btn-mini btn-link"
                        title="<%= _.__('acmedemouicontrol.history.clear') %>"><i class="icon icon-trash"></i></button>
            </li>
        </ul>
        <p class="empty-message"><%= _.__('acmedemouicontrol.history.empty_collection') %></p>
    </div>
</div>
